.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
        border: 1px solid white;
    }

    button {
        margin: 20px;
    }
}



.button {
    font-size: 30px;
    padding: 10px;
}