.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.button {
    font-size: 30px;
    padding: 10px;
}

.img {
    position: relative;
    cursor: pointer;
    width: 90%
}