.form {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 50%;
    right: 0;
    transform: translateX(100%) translateY(-100%);
    background-color: #FFF;
    border-radius: 5px;
    width: 200px;
    padding: 10px;
    border: 1px solid black;
    box-shadow: gray 3px 3px 3px;
    color: black;

    .inputs {
        padding: 10px;
    }

    .input {
        border: 1px solid red;
        margin-bottom: 5px;
    }
}

.buttons {
    display: flex;
    flex-direction: row;
    > button {
        padding: 10px;
    }
}