$nav-height: 90px;

.nav {
    position: absolute;
    font-size: 30px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f3f1ec;
    height: $nav-height;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #A40814;

    a {
        padding: 20px;
    }
}