@import '../common/common.module.scss';

.container {
    padding: 0px 100px;
    height: 100%;
    background-color: $landing-page-bg-color;
    justify-content: center;

    & .Landing {
        color: green;
    }
}

.main {
    display: flex;
    position: relative;
    flex-basis: 30%;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.imgContainer {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-height: 800px;

    img {
        width: 2000px;
    }
}

.form {
    width: 40%;
    display: flex;
    justify-content: center;
    position: relative;
    button {
        z-index: 1;
        // height: 50px;
        font-size: 50px;
        padding: 10px;
    }
}

.pathSvg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    z-index: 0;
}